<launch>
  <arg name="serial_number" default="" />
  <arg name="device_index" default="0" />
  <arg name="sensor_setting_path" default="/opt/ros/noetic/share/delta_driver/config/sensor/Delta_01_1000FPS.txt" />
  <arg name="decode_events" default="true" />
  <arg name="show_gui" default="true" />
  <arg name="duration" default="0" />
  <arg name="output_dir" default="/output/manual" />
  <arg name="message_threshold_time_ms" default="10" />
  <arg name="image_fps" default="10" />
  <arg name="start_driver" default="true" />
  <arg name="e2fai_enabled" default="true" />
  <arg name="e2fai_host" default="127.0.0.1" />
  <arg name="e2fai_port" default="8765" />
  <arg name="window_ms" default="200" />
  <arg name="processing_width" default="960" />
  <arg name="processing_height" default="720" />
  <arg name="catchup_enabled" default="true" />
  <arg name="voxel_mode" default="fixed_window" />
  <arg name="session_id" default="" />
  <arg name="perf_enabled" default="false" />
  <arg name="perf_interval_s" default="5" />
  <arg name="perf_capacity" default="4096" />
  <arg name="profile_path" default="/output/last_applied_parameters.json" />
  <arg name="auto_start" default="true" />
  <arg name="visible_views" default="[]" />

  <node name="nrv_gui" pkg="nrv_demo" type="gui.py" required="true" output="screen">
    <param name="serial_number" type="str" value="$(arg serial_number)" />
    <param name="device_index" type="str" value="$(arg device_index)" />
    <param name="sensor_setting_path" type="str" value="$(arg sensor_setting_path)" />
    <param name="duration" type="str" value="$(arg duration)" />
    <param name="output_dir" type="str" value="$(arg output_dir)" />
    <param name="message_threshold_time_ms" type="str" value="$(arg message_threshold_time_ms)" />
    <param name="image_fps" type="str" value="$(arg image_fps)" />
    <param name="start_driver" value="$(arg start_driver)" />
    <param name="e2fai_enabled" value="$(arg e2fai_enabled)" />
    <param name="e2fai_host" value="$(arg e2fai_host)" />
    <param name="e2fai_port" value="$(arg e2fai_port)" />
    <param name="window_ms" value="$(arg window_ms)" />
    <param name="processing_width" value="$(arg processing_width)" />
    <param name="processing_height" value="$(arg processing_height)" />
    <param name="catchup_enabled" value="$(arg catchup_enabled)" />
    <param name="voxel_mode" value="$(arg voxel_mode)" />
    <param name="perf_enabled" value="$(arg perf_enabled)" />
    <param name="perf_interval_s" value="$(arg perf_interval_s)" />
    <param name="perf_capacity" value="$(arg perf_capacity)" />
    <param name="profile_path" value="$(arg profile_path)" />
    <param name="auto_start" value="$(arg auto_start)" />
    <rosparam param="visible_views" subst_value="true">$(arg visible_views)</rosparam>
  </node>
</launch>
